@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.loginMain {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  .loginWrapper {
    width: 37.5em;
    height: 50em;
    border: 0.13em solid #e6e6e6;
    text-align: center;
    .loginTitle {
      margin-top: 7%;
      font-family: 'Lobster', cursive;
      font-size: 5.625em;
      margin-bottom: 15%;
    }
    input {
      display: block;
      width: 25em;
      height: 3.438em;
      margin-left: 14%;
      margin-bottom: 0.625em;
      padding: 0.625em;
      border: 0.13em solid #e6e6e6;
      border-radius: 0.44em;
      font-family: 'Nanum Gothic', sans-serif;
      font-size: 1.063em;
      font-weight: bold;
    }
    .loginButton {
      width: 21em;
      height: 3em;
      margin-top: 0.625em;
      margin-left: 0.5%;
      color: white;
      background-color: #0095f6;
      border: none;
      border-radius: 0.5em;
      font-size: 1.25em;
      font-weight: bold;
      opacity: 0.3;
      cursor: pointer;

      &.active {
        opacity: 1;
      }
    }
    #passwordForget {
      display: block;
      margin-top: 50%;
      color: #365f89;
      text-decoration: none;
      font-family: 'Nanum Gothic', sans-serif;
      font-weight: bold;
      font-size: 1.25em;
    }
  }
}
