@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin primaryColor {
  background-color: #fafafa;
}

@mixin btnOutline {
  outline: none;
  cursor: pointer;
}
