$back-color: white;
$font-color: gray;
$border-style: 1px solid #e6e6e6;

/* main page section */
main {
  height: 114vh;
  display: flex;
  justify-content: flex-start;

  /* feeds section */
  .feeds {
    height: 150vh;
    width: 850px;
    margin-left: 15%;
    position: relative;
    margin-top: 5.7%;

    article {
      border: $border-style;
      height: 120vh;
      width: 780px;
      position: relative;
      left: 4%;
      top: -4.3%;

      .feedsTop {
        height: 60px;
        margin-bottom: 10px;

        .feedsTopUserIcon {
          border-radius: 50%;
          position: absolute;
          left: 3%;
          top: 0.5%;
          object-fit: cover;
        }

        .feedsTopUserId,
        .feedsTopUserName {
          position: absolute;
          left: 11%;
          top: 0.7%;
        }

        .feedsTopUserName {
          top: 2.4%;
        }

        #feedsTopUpdateButton {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          border: 1px;
          cursor: pointer;
          position: absolute;
          right: 2%;
          top: 1%;
        }
      }

      .feedsUserImage {
        position: absolute;
        top: 6%;
        object-fit: cover;
      }

      .feedsMiddle {
        position: absolute;
        left: 3%;
        display: flex;
        justify-content: space-between;
        width: 720px;
        top: 63%;

        .feedsMiddleIconComment,
        .feedsMiddleIconShare {
          margin-left: 20px;
        }
      }

      .feedsLikeWrapper {
        position: absolute;
        top: 67.5%;
        left: 3%;
        width: 720px;
        height: 400px;
        .feedsCommentWrapper {
          position: relative;
          top: 70%;
          left: -3.3%;
          .feedsCommentInput {
            position: absolute;
            top: 85%;
            left: 1%;
            width: 765px;
            height: 70px;
            font-size: 17px;
            border: 1px solid #e6e6e6;
          }

          .feedsCommentButton {
            position: absolute;
            margin-top: 3%;
            left: 99%;
            opacity: 1;
            width: 50px;
          }
        }

        .friendsOne {
          position: absolute;
          border-radius: 50%;
          object-fit: cover;
          left: -0.5%;
        }

        .feedsHowManyLikes {
          position: absolute;
          top: 4%;
          left: 8%;
        }
        .feedsCommentWrapper {
          position: relative;
          top: 70%;
          left: -3.3%;
          .feedsCommentInput {
            position: absolute;
            top: 85%;
            left: 1%;
            width: 765px;
            height: 70px;
            font-size: 17px;
            border: 1px solid #e6e6e6;
          }

          .feedsCommentButton {
            position: absolute;
            margin-top: 3%;
            left: 99%;
            opacity: 1;
            width: 50px;
          }
        }
      }
    }
  }

  /* main_side section */
  .mainSide {
    border: $border-style;
    height: 75vh;
    width: 500px;
    right: 4%;
    top: 13%;
    position: fixed;

    .mainSideTop {
      margin-top: 30px;
      position: relative;
      height: 100px;
      width: 500px;

      .sideTopUserIcon {
        position: absolute;
        left: 10%;
        top: 22%;
        border-radius: 50%;
        object-fit: cover;
      }

      .sideTopUserName,
      .sideTopUserId {
        position: absolute;
        left: 25%;
        top: 50%;
      }

      .sideTopUserId {
        top: 22%;
      }
    }

    .mainSideStoryWrapper {
      margin-top: 20px;
      border-top: $border-style;
      border-bottom: $border-style;
      height: 260px;
      width: 500px;
      position: relative;

      .mainSideStoryTitle {
        position: absolute;
        left: 5%;
        font-size: 18px;
        font-weight: bold;
        color: gray;
        top: 5%;
      }

      .mainSideStoryShowAll {
        position: absolute;
        right: 5%;
        font-weight: bold;
        top: 5%;
      }

      .storyUserIcon {
        border-radius: 50%;
        position: absolute;
        left: 5%;
        object-fit: cover;
      }

      #storyUser1 {
        top: 20%;
      }

      #storyUser2 {
        top: 45%;
      }

      #storyUser3 {
        top: 70%;
      }

      .stroyUserName {
        font-weight: bold;
        position: absolute;
        left: 16%;
        display: block;
      }

      #storyUserName1 {
        top: 20%;
      }

      #storyUserName2 {
        top: 45%;
      }

      #storyUserName3 {
        top: 70%;
      }

      .storyUserTime {
        color: $font-color;
        display: block;
        position: absolute;
        left: 16%;
        font-size: 13px;
      }

      #storyUserTime1 {
        top: 30%;
      }

      #storyUserTime2 {
        top: 55%;
      }

      #storyUserTime3 {
        top: 80%;
      }
    }

    .mainSideRecommendWrapper {
      margin-top: 32px;
      height: 260px;
      width: 500px;
      position: relative;

      .mainSideRecommendTitle {
        color: $font-color;
        font-weight: bold;
        font-size: 18px;
        position: absolute;
        left: 5%;
        top: -5%;
      }

      .mainSideRecommendShowAll {
        position: absolute;
        right: 5%;
        font-weight: bold;
        top: -5%;
      }

      .recommendUserIcon {
        border-radius: 50%;
        position: absolute;
        left: 5%;
        object-fit: cover;
      }

      #recommendUser1 {
        top: 20%;
      }

      #recommendUser2 {
        top: 45%;
      }

      #recommendUser3 {
        top: 70%;
      }

      .recommendUserName {
        font-weight: bold;
        position: absolute;
        left: 16%;
        &:hover {
          text-decoration: underline;
        }
      }

      #recommendUser1Name {
        top: 20%;
      }

      #recommendUser2Name {
        top: 45%;
      }

      #recommendUser3Name {
        top: 70%;
      }

      .recommendFollowText {
        color: $font-color;
        position: absolute;
        left: 16%;
      }

      #followText1 {
        top: 30%;
      }

      #followText2 {
        top: 55%;
      }

      #followText3 {
        top: 80%;
      }

      .follow {
        font-size: 18px;
        position: absolute;
        right: 10%;
      }

      #followFirst {
        top: 20%;
      }

      #followSecond {
        top: 45%;
      }

      #followThird {
        top: 70%;
      }
    }

    .information {
      position: absolute;
      bottom: -10%;
      color: $font-color;
      font-weight: bold;
      font-size: 13px;
    }
  }
}
